<ion-tabs class="tabs-icon-bottom tabs-stable">

    <ion-tab title="首页" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="书籍" icon="icon ion-ios7-bookmarks" href="#/tab/books">
        <ion-nav-view name="books-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="位置" icon="icon ion-navigate" href="#/tab/locations">
        <ion-nav-view name="locations-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="设置" icon="icon ion-settings" href="#/tab/settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
