/.idea/**
/.cordova/**
/node_modules/**
/bower_components/**
/out/**

/www/assets/**
/www/dist/**

/platforms/android/bin/**
/platforms/android/out/**


**/.idea/*

/platforms/*/assets/www/dist/js-app/
/platforms/*/www/assets/

/platforms/ios/cordova/console.log
/platforms/android/cordova/console.log
