header button.button-icon:before {
    font-size: 32px !important;
}

textarea.comment-container {
    border: 1px solid gray;
    margin: 0 auto;
    height: 8em;
    color: #000000;
}

::-webkit-input-placeholder {
    color: #000000;
}

a.comment-item {
    height: auto;
    overflow: auto !important;
    padding-right: 10px !important;
}

a.comment-item p:last-child {
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

a.comment-item:after {
    content: "" !important;
    right: 0 !important;
    width: 0 !important;
}

